@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<table class="table table-sm">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Habits[0].Name)</th>
        <th>Manage</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var habit in Model.Habits)
    {
        <tr>
            <td>@Html.DisplayFor(model => habit.Name)</td>
            <td>
                <a class="btn btn-primary" asp-page="./UpdateHabit" asp-route-id="@habit.Id">
                    <i class="bi bi-info-circle"></i>
                </a>
                <a class="btn btn-warning">
                    <i class="bi bi-pencil"></i>
                </a>
                <a class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>