@page
@model HabitLoggerMvc.Pages.UpdateHabit

<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.HiddenFor(habit => habit.HabitModel.Id)
            <div class="mb-3">
                <label asp-for="HabitModel.Name" class="form-label"></label>
                <input type="text" asp-for="HabitModel.Name" class="form-control"/>
                <span asp-validation-for="HabitModel.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="HabitModel.HabitUnitId" class="form-label">Unit</label>
                <select asp-for="HabitModel.HabitUnitId" asp-items="@(new SelectList(Model.HabitUnits, "Id", "Name"))" class="form-control">
                    <option disabled="">Please select an unit</option>
                </select>
                <span asp-validation-for="HabitModel.HabitUnitId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit" value="Create">Update</button>
                <a class="btn btn-danger" asp-page="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>