@page
@model HabitLoggerMvc.Pages.Logs.AddHabitLog

<h2 class="mb-4 text-center">Add New Log</h2>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <form method="post">
            @Html.HiddenFor(model => model.HabitLog.Id)
            @Html.HiddenFor(model => model.HabitLog.HabitId)

            <div class="mb-3">
                <label asp-for="HabitLog.Date" class="form-label">Date</label>
                <input type="date" asp-for="HabitLog.Date" class="form-control" required>
                <span asp-validation-for="HabitLog.Date" class="invalid-feedback d-block"></span>
            </div>

            <div class="mb-3">
                <label asp-for="HabitLog.Quantity" class="form-label">Quantity</label>
                <input type="number" asp-for="HabitLog.Quantity" class="form-control" required>
                <span asp-validation-for="HabitLog.Quantity" class="invalid-feedback d-block"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Add Log</button>
                <a asp-page="../DetailHabit" asp-route-id="@Model.HabitLog.HabitId" class="btn btn-outline-secondary ms-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
