@page
@model DeleteHabitLog

<div class="alert alert-warning">
    Are you sure you want to delete the log @Model.HabitLog.Date.ToShortDateString()?
</div>
<div class="row">
    <form method="post">
        @Html.HiddenFor(model => model.HabitLog.Id)
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-outline-secondary" asp-page="../DetailHabit" asp-route-id="@Model.HabitId">Cancel</a>
    </form>
</div>