@page "/"

@code {
    private void Callback(InputFileChangeEventArgs obj)
    {
        throw new NotImplementedException();
    }
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<img src="sample-images/item1.png"/>
<EditForm>
    <InputFile OnChange="Callback"></InputFile>
</EditForm>