@model BudgetApp.Models.TransactionIndexViewModel

<h2 class="display-5 text-center">Transactions overview</h2>
<div class="d-flex justify-content-end">
    <button class="btn btn-success" data-bs-target="#transactionUpsertModal" data-bs-toggle="modal">New Transaction</button>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Transactions[0].Date)</th>
            <th>@Html.DisplayNameFor(m => m.Transactions[0].Comment)</th>
            <th class="text-end">@Html.DisplayNameFor(m => m.Transactions[0].Amount)</th>
            <th>@Html.DisplayNameFor(m => m.Transactions[0].Category.Name)</th>
            <th class="text-end">Manage</th>
        </tr>
        </thead>
        <tbody id="transactionsTableRows">
            @await Html.PartialAsync("TransactionsTableRows", Model.Transactions)
        </tbody>
    </table>
</div>

@* Confirmation Modal *@
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* TODO *@
                <input type="hidden" id="deleteTransactionId"/>
                Are you sure you want to delete this transaction?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnCategoryDelete">Confirm</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("TransactionUpsertModal", Model.TransactionUpsertViewModel)

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        // Dynamic content
        const transactionsTableRows = document.querySelector('#transactionsTableRows');
        
        // Table buttons
        const newTransactionButton = document.querySelector('#btnTransactionNew');
        
        // Transaction modal elements
        const upsertModal = new bootstrap.Modal('#transactionUpsertModal');
        const submitUpsertModalButton = document.querySelector('#btnTransactionUpsert');
        const upsertForm = document.querySelector('#frmTransactionUpsert');
     
        // Confirm modal elements
        const confirmationModal = new bootstrap.Modal('#confirmationModal');
        const transactionDeleteIdElement = document.querySelector('#deleteTransactionId');
        const confirmDeleteButton = document.querySelector('#btnCategoryDelete');
        
        upsertForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const formData = new FormData(event.target);
            const transaction = { 
                id: Number(formData.get('Transaction.Id')),
                date: formData.get('Transaction.Date'),
                comment: formData.get('Transaction.Comment'),
                amount: formData.get('Transaction.Amount'),
                categoryId: formData.get('Transaction.Category.Id')
            }
    
            let method = 'PUT';
            let route = `/transactions/update/${transaction.id}`;
            if (transaction.id === 0) {
                method = 'POST';
                route = '/transactions/create';
            }
    
            const init = {
                method, 
                headers: {
                    'Content-Type' : 'application/json'  
                },
                body: JSON.stringify(transaction)
             }
            const response = await fetch(route, init);
    
            if (response.status === 400) {
                // upsertForm.innerHTML = await response.text();
                return;
            } else if (!response.ok) {
                throw new Error(`HTML Error: ${response.status}`);   
            }
    
            transactionsTableRows.innerHTML = await response.text();
            upsertModal.hide();
        });
        
        submitUpsertModalButton.addEventListener('click', () => {
            // Create a new 'submit' event
            let event = new Event('submit', {
                bubbles: true, // Event will bubble up through the DOM
                cancelable: true // Event can be canceled
            });
        
            // Dispatch it on the form
            if (upsertForm.dispatchEvent(event)) {
                upsertModal.hide(); // Hide the modal only if the event wasn't canceled
            }
        });
        
        transactionsTableRows.addEventListener('click', async (event) => {
            if (!event.target) {
                return;
            }
            
            if (event.target.matches('.edit-transaction')) {
                const transactionId = event.target.dataset.transactionid;
                const response = await fetch('Transactions/Detail/' + transactionId);
                
                if (!response.ok) {
                    throw new Error(`HTML Error: ${response.status}`);   
                }
                
                const transaction = await response.json();
                
                upsertForm['Transaction.Id'].value = transaction.id;
                upsertForm['Transaction.Date'].value = transaction.date;
                upsertForm['Transaction.Comment'].value = transaction.comment;
                upsertForm['Transaction.Amount'].value = transaction.amount;
                upsertForm['Transaction.Category.Id'].value = transaction.categoryId;
                                
                upsertModal.show();
            } else if (event.target.matches('.delete-transaction')) {
                transactionDeleteIdElement.value = event.target.dataset.transactionid;
                confirmationModal.show();
            }
        });
        
        confirmDeleteButton.addEventListener('click', async () => {
           const transactionId = Number(transactionDeleteIdElement.value);
            const response = await fetch(`Transactions/Delete/${transactionId}`, { method: 'delete'})
            
            if (!response.ok) {
                 throw new Error(`HTML Error: ${response.status}`);   
             }
            
            confirmationModal.hide();
            transactionsTableRows.innerHTML = await response.text();
        });
    </script>
}
