@model IEnumerable<Category>

@foreach (var category in Model)
{
    <tr>
        <td>@category.Name</td>
        <td class="text-end">
            <btn class="btn btn-warning edit-category" data-categoryid="@category.Id">Edit</btn>
            <btn class="btn btn-danger delete-category" data-categoryid="@category.Id">Delete</btn>
        </td>
    </tr>
}