@page
@model HabitLoggerMvc.Pages.Units.AddUnit

<h2>Add a new habit unit</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="mb-3">
                <label asp-for="NewHabitUnit.Name" class="form-label"></label>
                <input type="text" asp-for="NewHabitUnit.Name" class="form-control"/>
                <span asp-validation-for="NewHabitUnit.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit" value="Create">Add</button>
                <a class="btn btn-danger" asp-page="./Units">Cancel</a>
            </div>
        </form>
    </div>
</div>