@page
@model HabitLoggerMvc.Pages.Units.UpdateUnit

<div class="text-center">
    <h2>Update unit: @Model.HabitUnit.Name</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.HiddenFor(model => model.HabitUnit.Id)
            <div class="mb-3">
                <label asp-for="HabitUnit.Name" class="form-label"></label>
                <input asp-for="HabitUnit.Name" class="form-control"/>
                <span asp-validation-for="HabitUnit.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Update</button>
                <a class="btn btn-danger" asp-page="./Units">Cancel</a>
            </div>
        </form>
    </div>
</div>